<app-header [text]="'Business Profile'"></app-header>

<div class="bg-light profile">
  <div class="bg-light container">
    <div class="left-container center-content">
      <i class="bi very-big-icon bi-building"></i>
      <h3>Welcome</h3>
      <h6>Please enter your company information.</h6>
    </div>
    <div class="right-container">
      <div class="right-container-inner bg-secondary text-white center-content">
        <h3>Company Information</h3>
        <ng-container *ngIf="stream$ | async as stream">
          <form [formGroup]="stream.form">
            <div class="form">
              <div class="left-form">
                <label for="company-name">Company Name:</label>
                <input id="company-name" class="form-control" type="text" formControlName="company">
                <label for="revenue">Revenue:</label>
                <input id="revenue" class="form-control" type="number" min="1" formControlName="revenue">
              </div>
              <div class="right-form">
                <label for="employees">Number of Employees:</label>
                <input id="employees" class="form-control" type="number" min="1" formControlName="employees">
                <label for="region">Region:</label>

                <select id="region-selection" class="form-select" aria-label="Region selection"
                  formControlName="region">
                  <ng-container *ngFor="let region of regions">
                    <option [value]="region.key">{{ region.value }}</option>
                  </ng-container>
                </select>

                <ng-container *ngIf="!isEditMode; else editMode">
                  <button *ngIf="!stream.form.disabled" type="button" class="btn btn-primary"
                    [disabled]="stream.form.invalid" (click)="save(stream.form)">
                    Save
                  </button>
                  <button *ngIf="stream.form.disabled" type="button" class="btn btn-primary"
                    [disabled]="stream.form.invalid" (click)="edit(stream.form)">
                    Edit
                  </button>
                </ng-container>

                <ng-template #editMode>
                  <button type="button" class="btn btn-primary" [disabled]="stream.form.invalid || stream.form.pristine"
                    (click)="update(stream.form, stream.profileId)">
                    Update
                  </button>
                  <button type="button" class="btn btn-light margin-right" (click)="cancel(stream.form)">
                    Cancel
                  </button>
                </ng-template>
              </div>
            </div>
          </form>
        </ng-container>
      </div>
    </div>
  </div>
</div>
