/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.small-text {
  font-size: 14px;
}

.pointer-cursor {
  cursor: pointer;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.very-big-icon {
  font-size: 220px;
}
