@import 'bootstrap/scss/bootstrap.scss';

.action-board {
  height: 100%;
  width: 280px;
  min-width: 180px;
  overflow-y: auto;
  border-color: $gray-300;
  border-width: medium;
  border-style: solid;
  background-color: $gray-200;

  .action-header {
    background-color: $gray-300;
  }

  .action-button {
    background-color: $gray-100;

    &.disabled {
      opacity: 0.5;
    }
  }

  .margin-right {
    margin-right: 15px;
  }

  .action-text {
    font-weight: 550;
  }

  .action-icon {
    font-size: 20px;
    line-height: 1;
  }

  .loading-spinner {
    margin-right: 15px;
    width: 20px;
    height: 20px;
    margin-top: 3px;
  }
}
