<div class="home-wrapper bg-secondary">
  <div class="inner-wrapper">
    <div class="upper-wrapper bg-secondary text-white container">
      <app-content-with-icon icon="bi-shield-check">
        <h1 class="display-4">Cybersecuirty Investment Tool</h1>
        <p class="lead">This tool helps companies to investment in cybersecurity.</p>
        <hr class="my-4">
        <p>Before you can start, please create a business profile.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" role="button" (click)="routingService.browseTo('/business-profile')">Create
            profile</a>
        </p>
      </app-content-with-icon>
      <!-- <section class="text-center center-content">
        <div class="jumbotron">
          <h1 class="display-4">Cybersecuirty Investment Tool</h1>
          <p class="lead">This tool helps companies to investment in cybersecurity.</p>
          <hr class="my-4">
          <p>Before you can start, please create a business profile.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" role="button"
              (click)="routingService.browseTo('/business-profile')">Create profile</a>
          </p>
        </div>
      </section>
      <section class="text-center center-content">
        <div class="jumbotron">
          <i class="bi bi-shield-check big-icon"></i>
        </div>
      </section> -->
    </div>
    <div class="buttom-wrapper center-content bg-light">
      <section class="text-center container">
        <div class="jumbotron bottom-inner-wrapper">
          <div class="text-secondary">
            <i class="bi bi-pie-chart medium-icon"></i>
            <h4>Segments</h4>
            <p>Manage your segments</p>
          </div>
          <div class="text-secondary">
            <i class="bi bi-shield medium-icon"></i>
            <h4>Protection recommendation</h4>
            <p>Get suitable IT security solutions for the company</p>
          </div>
          <div class="text-secondary">
            <i class="bi bi-building medium-icon"></i>
            <h4>Business profile</h4>
            <p>Manage your company profile</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
