.segment-add-button {
  margin: 1em;
}

.margin-top {
  margin-top: 12px;
}

.small-input {
  height: 25px;
}

.calculate-button {
  margin-top: 5px;
  float: right;
}

.toggle-wrapper {
  .radio-buttons {
    float: right;
  }
}

.generic-input-row {
  display: flex;
  align-items: baseline;
}

.inputs-wrapper {
  padding-left: 10px;
}

.info-tooltip {
  display: flex;
  margin-left: 3px;
}
