.segment-add-button {
  margin: 1em;
}

.margin-top {
  margin-top: 8px;
}

.small-input {
  height: 25px;
}

.calculate-button {
  margin-top: 5px;
  float: right;
}

.toggle-wrapper {
  .radio-buttons {
    float: right;
  }
}
