.navbar {
  height: 100%;

  .header-icon {
    font-size: 39px;
    margin-right: 26px;
    margin-top: -12px;
    margin-left: 10px;
  }

  hr {
    width: 100%;
  }

  ul {
    width: 90%;

    li {
      &.disabled {
        opacity: 0.5;
      }
    }

    .sidebar-icons {
      margin-right: 10px;
    }
  }

  .sidebar-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;

    i {
      font-size: 25px;
      margin-right: 20px;
    }
  }
}
