<div class="navbar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 330px">
  <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <i class="bi bi-shield-check header-icon"></i>
    <span class="fs-4">SECAdvisor</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <ng-container *ngFor="let page of routingService.pages">
      <li [class.pointer-cursor]="!page.disabled" [class.disabled]="page.disabled"
        (click)="routingService.browseTo(page.path)">
        <a class="nav-link text-white" [class.active]="page.active">
          <i class="sidebar-icons bi medium-icon" [ngClass]="page.icon"></i>
          {{ page.name }}
        </a>
      </li>
    </ng-container>
  </ul>

  <!-- Logout button -->
  <ng-container *ngIf="isLoggedIn$ | async" as isLoggedIn>
    <button type="button" class="btn btn-danger w-100" (click)="logout()">Logout</button>
  </ng-container>

  <ng-container *ngIf="companyName$ | async as companyName">
    <hr />
    <div class="sidebar-footer">
      <a class="sidebar-icons medium-icon nav-link text-white">
        <i class="bi bi-building"></i>
        {{ companyName }}
      </a>
    </div>
  </ng-container>

  <p>
    Developed by
    <a href="https://ch.linkedin.com/in/christian-omlin-524668195">C. Omlin</a>
    and <a href="https://www.figueredofranco.com">M. Franco</a>
  </p>
  <p>Maintained by the <a href="https://www.csg.uzh.cg">CSG@UZH</a></p>
</div>
