@import 'bootstrap/scss/bootstrap.scss';

.card-header-wrapper {
  background-color: $gray-400;
}

.card-wrapper {
  min-width: 380px;
}

.card-inner {
  overflow: auto;
}

.image {
  height: 40px;
}

.footer-text {
  font-weight: 300;
}

.badge {
  height: 20px;
}

.calculate-rosi {
  font-size: 14px;
}
