<app-header [text]="'Analyse Companies'"></app-header>

<div
  *ngIf="viewModel$ | async as viewModel"
  class="content-wrapper d-flex flex-grow-1 flex-column bg-light"
>
  <app-analyse-companies-instruction
    *ngIf="viewModel.showIntroduction"
  ></app-analyse-companies-instruction>

  <div *ngIf="viewModel.companyDetail">
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-primary m-1" (click)="showModal()">
        Edit Company Information
      </button>
    </div>

    <app-analyse-companies-comparsion-charts
      [companyDetail]="viewModel.companyDetail"
    ></app-analyse-companies-comparsion-charts>
  </div>
</div>
