<ng-template #modal let-modal>
  <ng-container *ngIf="stream">
    <div class="modal-header modal-dialog-centered">
      <h4 class="modal-title" id="segment-registrator">
        {{ isEditMode ? "Edit Segment" : "Add segment" }}
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        tabindex="-1"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="stream.form">
        <div class="row">
          <div class="col">
            <label for="segment-name">Segment Name:</label>
            <input
              id="segment-name"
              class="form-control"
              type="text"
              [class.is-invalid]="isControlInvalid(stream.form.get('name'))"
              formControlName="name"
            />
          </div>
          <div class="col">
            <label for="type-selection">Segment Type:</label>
            <select
              id="type-selection"
              class="form-select"
              aria-label="Type selection"
              [class.is-invalid]="isControlInvalid(stream.form.get('type'))"
              formControlName="type"
            >
              <ng-container *ngFor="let type of stream.typeOptions">
                <option [value]="type.id">{{ type.description }}</option>
              </ng-container>
            </select>
          </div>
        </div>
        <div class="form-group">
          <!-- Toggle valuation support -->
          <div
            *ngIf="
              isSegmentTypeSelected(stream.form) &&
              selectedSegment?.valueEstimation
            "
            class="toggle-wrapper margin-top"
          >
            <label>Enable value estimation:</label>

            <div class="radio-buttons">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="radio-no"
                  [value]="!supportValueEstimation"
                  [checked]="!supportValueEstimation"
                  (click)="toggleEstimationValue()"
                />
                <label class="form-check-label" for="radio-no">No</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="radio-yes"
                  [checked]="supportValueEstimation"
                  (click)="toggleEstimationValue()"
                />
                <label class="form-check-label" for="radio-yes">Yes</label>
              </div>
            </div>
          </div>

          <!-- Value Estimation -->
          <fieldset
            *ngIf="
              isSegmentTypeSelected(stream.form) &&
              selectedSegment &&
              supportValueEstimation &&
              selectedSegment.valueEstimation
            "
            class="form-group margin-top"
          >
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">
                Value Estimation:
              </legend>
              <div class="col-sm-10">
                <div class="row inputs-wrapper">
                  <ng-container
                    *ngFor="
                      let input of selectedSegment.valueEstimation.inputs;
                      let i = index
                    "
                  >
                    <div *ngIf="i % 2 === 0" class="row generic-input-row">
                      <div class="col-6">
                        <label class="small-text">{{
                          input.description
                        }}</label>
                        <input
                          class="form-control small-input"
                          [type]="input.type"
                          [formControlName]="input.key"
                        />
                      </div>
                      <div
                        *ngIf="
                          doesNextElementExists(
                            selectedSegment.valueEstimation.inputs,
                            i
                          )
                        "
                        class="col-6"
                      >
                        <label class="small-text">
                          {{
                            selectedSegment.valueEstimation.inputs[i + 1]
                              .description
                          }}
                        </label>
                        <input
                          class="form-control small-input"
                          [type]="
                            selectedSegment.valueEstimation.inputs[i + 1].type
                          "
                          [formControlName]="
                            selectedSegment.valueEstimation.inputs[i + 1].key
                          "
                        />
                      </div>
                      <div
                        *ngIf="
                          !doesNextElementExists(
                            selectedSegment.valueEstimation.inputs,
                            i
                          )
                        "
                        class="col-6"
                      >
                        <button
                          type="button"
                          class="btn btn-secondary btn-sm calculate-button"
                          (click)="calculateValue(stream)"
                        >
                          Calculate Value
                        </button>
                      </div>
                    </div>
                  </ng-container>
                  <div
                    *ngIf="
                      selectedSegment.valueEstimation.inputs.length % 2 === 0
                    "
                    class="row generic-input-row"
                  >
                    <div class="col-6"></div>
                    <div class="col-6">
                      <button
                        type="button"
                        class="btn btn-secondary btn-sm calculate-button"
                        (click)="calculateValue(stream)"
                      >
                        Calculate Value
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>

          <ng-container *ngIf="isSegmentTypeSelected(stream.form)">
            <div class="row margin-top">
              <div class="col">
                <div class="d-flex">
                  <label for="potential-loss">Value($):</label>
                  <i
                    class="bi bi-info-circle text-primary info-tooltip"
                    placement="top"
                    ngbTooltip="The value of the segment"
                  ></i>
                </div>

                <input
                  id="potential-loss"
                  class="form-control"
                  min="1"
                  type="number"
                  [class.is-invalid]="
                    isControlInvalid(stream.form.get('value'))
                  "
                  formControlName="value"
                />
              </div>
              <div class="col">
                <div class="d-flex">
                  <label for="vulnerability">Risk(%):</label>
                  <i
                    class="bi bi-info-circle text-primary info-tooltip"
                    placement="top"
                    ngbTooltip="How much is the probability of an attack (%)?"
                  ></i>
                </div>
                <input
                  id="vulnerability"
                  class="form-control"
                  type="number"
                  min="0"
                  max="100"
                  step="1"
                  [class.is-invalid]="
                    isControlInvalid(stream.form.get('vulnerability'))
                  "
                  formControlName="vulnerability"
                />
              </div>
            </div>
            <div class="row margin-top">
              <div class="col">
                <div class="d-flex">
                  <label for="vulnerability">Vulnerability(%):</label>
                  <i
                    class="bi bi-info-circle text-primary info-tooltip"
                    placement="top"
                    ngbTooltip="The probability an attack on the data is going to be successful (%)."
                  ></i>
                </div>
                <input
                  id="vulnerability"
                  class="form-control"
                  type="number"
                  min="0"
                  max="100"
                  step="1"
                  [class.is-invalid]="isControlInvalid(stream.form.get('risk'))"
                  formControlName="risk"
                />
              </div>
              <div class="col"></div>
            </div>
          </ng-container>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        *ngIf="isEditMode"
        type="button"
        class="btn btn-outline-secondary"
        [disabled]="stream.form.invalid"
        (click)="modal.dismiss()"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="stream.form.invalid || stream.form.pristine"
        (click)="modal.close(stream)"
      >
        {{ isEditMode ? "Update" : "Save" }}
      </button>
    </div>
  </ng-container>
</ng-template>
