<ng-container *ngIf="viewModel$ | async as viewModel">
  <div class="modal-header modal-dialog-centered">
    <h4 class="modal-title">Company Information</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      tabindex="-1"
      (click)="dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="input-grid">
      <div *ngFor="let input of viewModel.inputs" class="m-1">
        <ng-container *ngIf="input.type === 'number'">
          <div class="d-flex mb-1">
            <label class="small-text"> {{ input.description }}: </label>
            <i
              class="bi bi-info-circle text-primary info-tooltip"
              placement="top"
              [ngbTooltip]="input.info"
            ></i>
          </div>
          <input
            class="form-control small-input"
            type="number"
            [class.is-invalid]="
              viewModel.form.controls[input.name].invalid &&
              viewModel.form.controls[input.name].dirty
            "
            [min]="input.min"
            [max]="input.max"
            [formControl]="viewModel.form.controls[input.name]"
          />
        </ng-container>
        <ng-container *ngIf="input.type === 'select'">
          <div class="d-flex mb-1">
            <label class="small-text"> {{ input.description }}: </label>
            <i
              class="bi bi-info-circle text-primary info-tooltip"
              placement="top"
              [ngbTooltip]="input.info"
            ></i>
          </div>
          <select
            id="type-selection"
            class="form-select"
            [class.is-invalid]="
              viewModel.form.controls[input.name].invalid &&
              viewModel.form.controls[input.name].dirty
            "
            [formControl]="viewModel.form.controls[input.name]"
          >
            <ng-container *ngFor="let option of input.options">
              <option [value]="option.key">{{ option.value }}</option>
            </ng-container>
          </select>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="d-flex justify-content-between align-items-center w-100">
      <div>
        Number of x closed companies (optional):
        <input
          class="form-control small-input"
          type="number"
          min="0"
          [formControl]="viewModel.form.controls['numberOfClosest']"
        />
      </div>

      <div>
        <button
          type="button"
          class="btn btn-outline-secondary me-2"
          (click)="dismiss()"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="viewModel.form.invalid"
          (click)="submit(viewModel.form)"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</ng-container>
