<div class="bpf-graphic">
  <div class="instructions">
    See how you updated BPF function compares to the BPF from <a href="https://en.wikipedia.org/wiki/Gordon%E2%80%93Loeb_model" target="_blank">Gordon Loeb</a>.
  </div>
  <ngx-charts-bar-vertical-2d
    [results]="multi"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [yAxisTickFormatting]="yAxisTickFormatting"
  >
  </ngx-charts-bar-vertical-2d>
</div>
